
@{
    Layout = null;
}
@model LoginProject.ViewModels.HomeViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using (Html.BeginForm("Login", "Home"))
            {
        @ViewBag.Error
                <table cellpadding="2" cellspacing="2">
                    <tr>
                        <td>@Html.LabelFor(model => model.home.Username) </td>
                        <td>@Html.TextBoxFor(model => model.home.Username) </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.home.Password)</td>
                        <td>@Html.PasswordFor(model => model.home.Password) </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><input type="submit" value="Login" /> </td>
                    </tr>
                </table>
            }
</body>
</html>
